
# IDE
# Logs
# Node
# OS
# Python
# UV
*.egg-info/
*.html
*.key
*.local
*.log
*.mat
*.npy
*.pem
*.pyc
*.pyo
*.swo
*.swp
.AppleDouble
.DS_Store
.LSOverride
.coverage
.env
.idea/
.mypy_cache/
.pytest_cache/
.secrets
.uv_cache/
.uv_python/
.venv/
.vscode/
ENV/
__pycache__/
build/
dist-ssr/
dist/
env/
logs/
node_modules/
npm-debug.log*
venv/
yarn-debug.log*
yarn-error.log*
